@import '../color-palette.scss';

// Цвет текста календаря, цвет бордеров, цвет подложки
$calendarTextColor: #000;
$calendarBorder: 1px solid $grey-800;
$cellBorder: $calendarBorder;
$calendarDayBorder: $calendarBorder;
$calendarBG: null;

// Фон заголовка календаря, его внутренние отступы, параметры шрифта
$headBG: $amber-a400;

// Фон Дней недели, внутренние отступы
$calendarDayBG: $amber-a200;

// Фоны обычного дня, выходного дня и праздников, внутренние отступы, размер шрифта, размер дня (будет видно на текущей дате, межстрочный интервал для шрифта должен быть равен $dayHeight)
$dayBG: $amber-a100;
$outputBF: $red-a200;
$holidatBG: $red-a400;

// Если вдруг правительство перенесет выходной день с субботы или воскресенья на будний день, и этот день станет рабочим, то эта переменная задает такой цвет, я ее сделаю чуть ярче, чем обычный будний день, чтобы было заметно, что мы работаем.
$workdayBG: $green-600;

// Настройки текущей даты
$currDayCellBG: null;
$currDayBG: $yellow-300;

// Подсказка, все стили которые с ней связаны
$hintBG: $amber-a200;
$hintTitleColor: null;
$hintDescColor: null;

// Не активные дни перед выбранным месяцем и после него
$noActiveDayBG: null;