.exampleCalendar {
  text-align: center;
  font-size: 16px;
  font-family: 'RobotoDraft';
  &-lang {
    max-width: 100px;
    text-align: left;
    margin: 5px auto;
    label {
      padding-left: 5px;
      -moz-user-select: none; 
      -webkit-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
    }
  }
  &-wrap {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
  }
  &-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 40px auto;
    justify-content: center;
    font-family: 'RobotoDraft';
    h2 {
      width: 100%;
      text-align: center;
    }
  }
  &-item {
    width: 30%;
    max-width: 480px;
    min-width: 300px;
    margin: 20px;
  }

  // Кнопки для переключения
  .mdc-button {
    font-family: 'RobotoDraft', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 2.25rem;
    font-weight: 500;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 18px;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    appearance: none;
    overflow: visible;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #fdd835;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  .mdc-button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .mdc-button:hover {
    cursor: pointer;
    background-color: #fbc02d;
  }
  .mdc-button:active {
    background-color: #f2c80d;
  }
  .mdc-button:disabled {
    background-color: transparent;
    color: rgba(0, 0, 0, .37);
    cursor: default;
    pointer-events: none;
  }
  .mdc-button {
    height: 36px;
  }
}

@media screen and (max-width: 900px) {
  .calendar-body-col {
    &:nth-of-type(1) {
      &:hover {
        .calendar-body-hint {
          left: 0;
          margin-left: 0;
        }
      }
    }
    &:nth-of-type(2) {
      &:hover {
        .calendar-body-hint {
          left: -100%;
          margin-left: 0;
        }
      }
    }

    &:nth-of-type(5) {
      &:hover {
        .calendar-body-hint {
          left: auto;
          right: -200%;
          margin-left: 0;
        }
      }
    }
    &:nth-of-type(6) {
      &:hover {
        .calendar-body-hint {
          left: auto;
          right: -100%;
          margin-left: 0;
        }
      }
    }
    &:nth-of-type(7) {
      &:hover {
        .calendar-body-hint {
          left: auto;
          right: 0;
          margin-left: 0;
        }
      }
    }
  }
}