@import './color-palette.scss';

.calendar {
  // Цвет текста календаря
  $calendarTextColor: #000;

  // Цвет бордеров
  $calendarBorder: 1px solid $grey-800;
  $cellBorder: $calendarBorder;
  $calendarDayBorder: $calendarBorder;

  // Фон заголовка календаря
  $headBG: $amber-a700;

  // Фон Дней недели
  $calendarDayBG: $yellow-700;

  // Фоны обычного дня, выходного дня и праздников
  $dayBG: $yellow-400;
  $outputBF: $red-a400;
  $holidatBG: $red-a400;

  // Настройки текущей даты
  $currDayCellBG: null;
  $currDayBG: $yellow-900;

  color: $calendarTextColor;
  width: 100%;
  text-align: center;
  border: $calendarBorder;

  %colWidth {
    width: 14.28571428571429%;
  }

  .prev,
  .next {
    div {
      opacity: .4;
    }
    &:hover {
      .calendar-body-hint {
        top: -3000px;
        left: -3000px;
      }
    }
  }
  .curDate {
    background: $currDayCellBG;
    .calendar-body-day {
      background-color: $currDayBG;
    }
  }
  .holiday {
    background-color: $holidatBG
  }
  .output {
    background-color: $outputBF;
  }
  &-head {
    padding: 20px 0;
    background: $headBG;
  }
  &-day {
    display: flex;
    width: 100%;
    &-col {
      @extend %colWidth;
      padding: 2% 0;
      background: $calendarDayBG;
      border: $calendarDayBorder;
      border-right: none;
      border-bottom: none;
      &:first-of-type {
        border-left: none;
      }
    }
  }
  &-body {
    &-day {
      width: 34px;
      height: 34px;
      line-height: 34px;
      display: inline-block;
      border-radius: 50%;
    }
    &-row {
      width: 100%;
      display: flex;
    }
    &-col {
      @extend %colWidth;
      position: relative;
      padding: 1% 0;
      border: $cellBorder;
      border-right: none;
      border-bottom: none;
      background-color: $dayBG;
      &:first-of-type {
        border-left: none;
      }
      &:hover {
        z-index: 2;
        .calendar-body-hint {
          top: 50px;
          left: 50%;
          margin-left: -110px;
        }
      }
    }
    &-hint {
      top: -3000px;
      left: -3000px;
      position: absolute;
      width: 200px;
      padding: 10px;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
  }
}