@import './color-palette.scss';

.calendar {

  // Цвет текста календаря, цвет бордеров, цвет подложки
  $calendarTextColor: #000;
  $calendarBorder: 1px solid $grey-800;
  $cellBorder: $calendarBorder;
  $calendarDayBorder: $calendarBorder;
  $calendarFont: 16px/120% 'RobotoDraft';
  $calendarBG: null;

  // Фоны обычного дня, выходного дня и праздников, внутренние отступы, размер шрифта, размер дня (будет видно на текущей дате, межстрочный интервал для шрифта должен быть равен $dayHeight)
  $outputBF: $red-a200;
  $holidatBG: $red-a400;
  $dayFont: null;

  // Настройки текущей даты
  $currDayBG: $amber-a400;

  // Подсказка, все стили которые с ней связаны
  $hintWidth: 280px;
  $hintPadding: 15px;
  $hintBoxShadow: 0 0 10px rgba(0,0,0,0.5);

  color: $calendarTextColor;
  width: 100%;
  text-align: center;
  border: $calendarBorder;
  background: $calendarBG;
  font: $calendarFont;

  .curDate {
    .calendar-body-day {
      background-color: $currDayBG;
    }
  }
  .output {
    background-color: $outputBF;
  }
  .holiday {
    cursor: pointer;
    background-color: $holidatBG
  }
  &-day {
    width: 100%;
    &-col {
      border: $calendarDayBorder;
      border-right: none;
      border-bottom: none;
      &:first-of-type {
        border-left: none;
      }
    }
  }
  &-body {
    &-row {
      width: 100%;
    }
    &-col {
      position: relative;
      border: $cellBorder;
      border-right: none;
      border-bottom: none;
      &:first-of-type {
        border-left: none;
      }
      &:hover {
        z-index: 2;
        position: relative;
        .calendar-body-hint {
          top: 100%;
          left: 50%;
          margin-left: -$hintWidth/2;
        }
      }
    }
    &-hint {
      top: -3000px;
      left: -3000px;
      position: absolute;
      background-color: #fff;
      width: $hintWidth;
    }
  }
  .prev,
  .next {
    &:hover {
      .calendar-body-hint {
        top: -3000px;
        left: -3000px;
      }
    }
  }
}