@import './color-palette.scss';

:root {
  // Цвет текста календаря, цвет бордеров, цвет подложки
  --pc-text-color: #000;
  --pc-border: 1px solid #{$grey-800};
  --pc-cell-border: var(--pc-border);
  --pc-day-border: var(--pc-border);
  --pc-font: 16px/120% 'RobotoDraft';
  --pc-bg: inherit;

  // Фон заголовка календаря, его внутренние отступы, параметры шрифта
  --pc-head-bg: #{$lime-200};
  --pc-head-padding: 20px 0;
  --pc-head-font: inherit;

  // Фон Дней недели, внутренние отступы
  --pc-head-day-bg: #{$lime-300};
  --pc-head-day-padding: 4% 0;
  --pc-head-day-font: inherit;

  // Фоны обычного дня, выходного дня и праздников, внутренние отступы, размер шрифта, размер дня (будет видно на текущей дате, межстрочный интервал для шрифта должен быть равен $dayHeight)
  --pc-day-bg: #{$light-green-300};
  --pc-output-bf: #{$red-a200};
  --pc-holiday-bg: #{$red-a400};
  --pc-cell-padding: 2% 0;
  --pc-day-width: 34px;
  --pc-day-height: 34px;
  --pc-day-font: inherit;

  // Если вдруг правительство перенесет выходной день с субботы или воскресенья на будний день, и этот день станет рабочим, то эта переменная задает такой цвет, я ее сделаю чуть ярче, чем обычный будний день, чтобы было заметно, что мы работаем.
  --pc-workday-bg: #{$light-green-600};

  // Настройки текущей даты
  --pc-curr-day-cell-bg: #{$amber-a200};
  --pc-curr-day-bg: #{$amber-a400};

  // Подсказка, все стили которые с ней связаны
  --pc-hint-width: 280px;
  --pc-hint-padding: 15px;
  --pc-hint-border-radius: 10px;
  --pc-hint-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  --pc-hint-bg: #{$lime-300};
  --pc-hint-title-color: inherit;
  --pc-hint-title-font: 16px/120% 'RobotoDraft';
  --pc-hint-title-margin: 0 0 5px;
  --pc-hint-desc-font: 14px/140% 'RobotoDraft';
  --pc-hint-desc-color: inherit;

  // Не активные дни перед выбранным месяцем и после него
  --pc-no-active-day-bg: var(--pc-day-bg);
  --pc-no-active-day-opacity: .4;
}

@import './_calendar-styles.scss';