@import './color-palette.scss';

:root {
  // Цвет текста календаря, цвет бордеров, цвет подложки
  --pc-text-color: #fff;
  --pc-border: 1px solid #666;
  --pc-cell-border: var(--pc-border);
  --pc-day-border: var(--pc-border);
  --pc-font: 16px/120% 'RobotoDraft';
  --pc-bg: #000;

  // Фон заголовка календаря, его внутренние отступы, параметры шрифта
  --pc-head-bg: none;
  --pc-head-padding: 20px 0;
  --pc-head-font: inherit;

  // Фон Дней недели, внутренние отступы
  --pc-head-day-bg: none;
  --pc-head-day-padding: 4% 0;
  --pc-head-day-font: inherit;

  // Фоны обычного дня, выходного дня и праздников, внутренние отступы, размер шрифта, размер дня (будет видно на текущей дате, межстрочный интервал для шрифта должен быть равен $dayHeight)
  --pc-day-bg: none;
  --pc-output-bf: #{$red-a700};
  --pc-holiday-bg: #{$red-900};
  --pc-cell-padding: 2% 0;
  --pc-day-width: 34px;
  --pc-day-height: 34px;
  --pc-day-font: inherit;

  // Если вдруг правительство перенесет выходной день с субботы или воскресенья на будний день, и этот день станет рабочим, то эта переменная задает такой цвет, я ее сделаю чуть ярче, чем обычный будний день, чтобы было заметно, что мы работаем.
  --pc-workday-bg: #000;

  // Настройки текущей даты
  --pc-curr-day-cell-bg: #{$yellow-700};
  --pc-curr-day-bg: #{$yellow-700};

  // Подсказка, все стили которые с ней связаны
  --pc-hint-width: 280px;
  --pc-hint-padding: 15px;
  --pc-hint-border-radius: 10px;
  --pc-hint-box-shadow: 0 0 10px rgba(255, 255, 255, .5);
  --pc-hint-bg: #000;
  --pc-hint-title-color: inherit;
  --pc-hint-title-font: 16px/120% 'RobotoDraft';
  --pc-hint-title-margin: 0 0 5px;
  --pc-hint-desc-font: 14px/140% 'RobotoDraft';
  --pc-hint-desc-color: inherit;

  // Не активные дни перед выбранным месяцем и после него
  --pc-no-active-day-bg: inherit;
  --pc-no-active-day-opacity: .4;
}

@import './_calendar-styles.scss';