@import './color-palette.scss';

.calendar {
  width: 100%;
  text-align: center;

  &-day {
    width: 100%;
    &-col {
      border-right: none;
      border-bottom: none;
      &:first-of-type {
        border-left: none;
      }
    }
  }
  &-body {
    &-row {
      width: 100%;
    }
    &-col {
      position: relative;
      border-right: none;
      border-bottom: none;
      &:first-of-type {
        border-left: none;
      }
      &:hover {
        z-index: 2;
        position: relative;
        .calendar-body-hint {
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &-hint {
      top: -3000px;
      left: -3000px;
      position: absolute;
      background-color: #fff;
    }
  }
  .prev,
  .next {
    &:hover {
      .calendar-body-hint {
        top: -3000px;
        left: -3000px;
      }
    }
  }

  @mixin sizeMix($value) {
    grid-template-columns: repeat(#{$value + 1}, 1fr);
    .calendar-body {
      grid-column: span $value;
    }
    .calendar-body-row {
      grid-template-columns: repeat($value, 1fr);
    }
  }

  .calendar-day-display-size {
    &-4 {
      @include sizeMix(4);
    }
    &-5 {
      @include sizeMix(5);
    }
    &-6 {
      @include sizeMix(6);
    }
  }

  &-day {
    &-display {
      &-horisontal {
        .calendar {
          &-day {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
          }
          &-body  {
            &-row {
              display: grid;
              grid-template-columns: repeat(7, 1fr);
            }
          }
        }
      }
      &-vertical {
        display: grid;
        %padVertCol {
          padding: 10% 0;
        }
        .calendar {
          &-day {
            width: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            &-col {
              width: auto;
              border-left: none;
            }
          }
          &-body {
            &-col {
              width: auto;
            }
            &-row {
              display: grid;
            }
          }
        }
      }
    }
  }
}