@import './color-palette.scss';

.calendar {

  // Цвет текста календаря, цвет бордеров, цвет подложки
  $calendarTextColor: #fff;
  $calendarBorder: 1px solid #666;
  $cellBorder: $calendarBorder;
  $calendarDayBorder: $calendarBorder;
  $calendarFont: 16px/120% 'RobotoDraft';
  $calendarBG: #000;

  // Фон заголовка календаря, его внутренние отступы, параметры шрифта
  $headBG: null;
  $headPadding: 20px 0;
  $headFont: null;

  // Фон Дней недели, внутренние отступы
  $calendarDayBG: null;
  $calendarDayPadding: 4% 0;
  $calendarDayFont: null;

  // Фоны обычного дня, выходного дня и праздников, внутренние отступы, размер шрифта, размер дня (будет видно на текущей дате, межстрочный интервал для шрифта должен быть равен $dayHeight)
  $dayBG: null;
  $outputBF: $red-a700;
  $holidatBG: $red-900;
  $cellPadding: 2% 0;
  $dayWidth: 34px;
  $dayHeight: 34px;
  $dayFont: null;

  // Если вдруг правительство перенесет выходной день с субботы или воскресенья на будний день, и этот день станет рабочим, то эта переменная задает такой цвет, я ее сделаю чуть ярче, чем обычный будний день, чтобы было заметно, что мы работаем.
  $workdayBG: #000;

  // Настройки текущей даты
  $currDayCellBG: $yellow-700;
  $currDayBG: $yellow-700;

  // Подсказка, все стили которые с ней связаны
  $hintWidth: 280px;
  $hintPadding: 15px;
  $hintBorderRadius: 10px;
  $hintBoxShadow: 0 0 10px rgba(255,255,255,0.5);
  $hintBG: #000;
  $hintTitleColor: null;
  $hintTitleFont: 16px/120% 'RobotoDraft';
  $hintTitleMargin: 0 0 5px;
  $hintDescFont: 14px/140% 'RobotoDraft';
  $hintDescColor: null;

  // Не активные дни перед выбранным месяцем и после него
  $noActiveDayBG: null;
  $noActiveDayOpacity: .4;

  color: $calendarTextColor;
  width: 100%;
  text-align: center;
  border: $calendarBorder;
  background: $calendarBG;
  font: $calendarFont;

  .curDate {
    background: $currDayCellBG;
    .calendar-body-day {
      background-color: $currDayBG;
    }
  }
  .output {
    background-color: $outputBF;
  }
  .holiday {
    cursor: pointer;
    background-color: $holidatBG
  }
  &-head {
    padding: $headPadding;
    background: $headBG;
    font: $headFont;
  }
  &-day {
    width: 100%;
    &-col {
      padding: $calendarDayPadding;
      background: $calendarDayBG;
      border: $calendarDayBorder;
      border-right: none;
      border-bottom: none;
      font: $calendarDayFont;
      &:first-of-type {
        border-left: none;
      }
    }
  }
  &-body {
    &-day {
      width: $dayWidth;
      height: $dayHeight;
      line-height: $dayHeight;
      display: inline-block;
      border-radius: 50%;
      font: $dayFont;
    }
    &-row {
      width: 100%;
    }
    &-col {
      position: relative;
      padding: $cellPadding;
      border: $cellBorder;
      border-right: none;
      border-bottom: none;
      background-color: $dayBG;
      transition: background-color .15s ease-in-out 0s;
      &:first-of-type {
        border-left: none;
      }
      &:hover {
        z-index: 2;
        .calendar-body-hint {
          top: 100%;
          left: 50%;
          margin-left: -$hintWidth/2;
        }
      }
    }
    &-hint {
      top: -3000px;
      left: -3000px;
      position: absolute;
      width: $hintWidth;
      padding: $hintPadding;
      border-radius: $hintBorderRadius;
      background-color: $hintBG;
      box-shadow: $hintBoxShadow;
    }
    &-title {
      color: $hintTitleColor;
      font: $hintTitleFont;
      margin: $hintTitleMargin;
    }
    &-desc {
      color: $hintDescColor;
      font: $hintDescFont;
    }
  }
  .prev,
  .next {
    background: $noActiveDayBG;
    div {
      opacity: $noActiveDayOpacity;
    }
    &:hover {
      .calendar-body-hint {
        top: -3000px;
        left: -3000px;
      }
    }
  }
  .workDay  {
    background-color: $workdayBG;
  }
}